/* ******* :: INDEX OF CSS :: *******
:: 1.0 WEB FONTS
:: 2.0 IMPORT ALL CSS
:: 3.0 GLOBAL CSS
:: 4.0 COMMON CSS
:: 5.0 PRELOADER CSS
:: 6.0 SCROLL TO TOP AREA CSS
:: 7.0 HEADER AREA CSS
:: 8.0 WELCOME AREA CSS
****************************** */

/* ******************************
:: 1.0 WEB FONTS
****************************** */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
/* 
font-family: 'Poppins', sans-serif;
*/

/* ******************************
:: 2.0 IMPORT ALL CSS
****************************** */
@import url(bootstrap.min.css);
@import url(all.min.css);
@import url(animate.min.css);
@import url(aos.css);
@import url(owl.carousel.min.css);
@import url(jquery.fancybox.min.css);

/* ******************************
:: 3.0 GLOBAL CSS
****************************** */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #777;
}

.main {
    overflow: hidden;
}

section,
.section {
    position: relative;
}

.container {
    width: 100%;
    margin: 0 auto;
}

.container-fluid {
    padding: 0 5%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
    color: #1c144e;
    margin-bottom: 0;
}

.inner-wrapper h1,
.inner-wrapper h2,
.inner-wrapper h3 {
    color: #2d3136;
}

h1 {
    font-size: 4em;
    font-weight: 600;
    line-height: 1.2;
}

h2 {
    font-size: 40px;
    line-height: 1.2;
}

h3 {
    font-size: 20px;
    line-height: 1.2;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 16px;
}

h6 {
    font-size: 14px;
    font-weight: 400;
}

p {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #777;
    margin-bottom: 0;
}

a {
    color: #444;
    transition: all .3s ease;
}

a:hover {
    color: #0056b3;
}

a,
a:hover,
a:focus,
.btn:focus {
    text-decoration: none;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

ol,
ul {
    margin: 0;
    padding: 0;
}

ol li,
ul li {
    list-style: none;
}

img {
    height: auto;
    max-width: 100%;
}

.text-primary {
    color: #2d3136 !important;
}


.owl-carousel .owl-item img {
    width: auto;
}

.owl-prev:focus,
.owl-next:focus {
    outline: none;
}

.mb-20{
    margin-bottom: 20px !important;
}

.mb-35{
    margin-bottom: 35px !important;
}

/*SECTION PADDING*/
.pt_0 {
    padding-top: 0;
}

.ptb_50 {
    padding: 50px 0;
}

.ptb_100 {
    padding: 100px 0;
}

.ptb_150 {
    padding: 150px 0;
}

.ptb_180 {
    padding: 180px 0;
}

/* ******************************
:: 7.0 HEADER AREA CSS
****************************** */
.hero-wrapper .svg-clipped {
    -webkit-clip-path: url(#svgPath);
    clip-path: url(#svgPath);
    height: 100%;
    z-index: -1;
}

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 0;
    padding-bottom: 0;
    z-index: 999;
    -webkit-transition: .3s;
    transition: .3s;
    background: transparent;
    padding: 1rem;
}

.navbar .navbar-nav .nav-link {
    padding-right: 1.25rem;
    padding-left: 1.25rem;
    -webkit-transition: .3s;
    transition: .3s;
}

.navbar.navbar-light .navbar-nav .nav-link {
    color: #7e8085;
}

.navbar.navbar-light .navbar-nav .nav-link:hover,
.navbar.navbar-light .navbar-nav .nav-link:focus,
.navbar.navbar-light .navbar-nav .nav-link.active,
.navbar.navbar-light .navbar-nav .nav-link.current-menu-item {
    color: #2c2e30;
}

.navbar .navbar-brand-sticky {
    display: none;
}

.navbar-sticky {
    -webkit-transition: none;
    transition: none;
}

.navbar-sticky-transitioned {
    -webkit-transition: .3s;
    transition: .3s;
}

.navbar-sticky-moved-up {
    position: fixed;
    top: 0;
    background: #fff;
    margin-top: -250px;
    background: #5641BF;
}

[data-theme=dark] .navbar-sticky-moved-up {
    background: #01081f;
    -webkit-box-shadow: 0 4px 25px rgba(30, 39, 69, 0.3), 0 1px 0px rgba(30, 39, 69, 0.4);
    box-shadow: 0 4px 25px rgba(30, 39, 69, 0.3), 0 1px 0px rgba(30, 39, 69, 0.4);
}

.navbar-sticky-on {
    margin-top: 0;
    -webkit-transition: .3s;
    transition: .3s;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 20px;
    padding-bottom: 18px;
    padding-top: 18px !important; 
}

.navbar-sticky-on .navbar-brand-regular {
    display: none;
}

.navbar-sticky-on .navbar-brand-sticky {
    display: inline;
    max-width: 170px;
}

/*NAVBAR DARK*/
.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

.navbar-dark .btn-outline {
    color: #fff;
}

.navbar-dark.navbar-sticky-on .navbar-nav .nav-link {
    color: #7e8085;
}

[data-theme=dark] .navbar-dark.navbar-sticky-on .navbar-nav .nav-link {
    color: #e7eaee;
}

.navbar-dark.navbar-sticky-on .navbar-nav .nav-link:hover,
.navbar-dark.navbar-sticky-on .navbar-nav .nav-link:focus,
.navbar-dark.navbar-sticky-on .navbar-nav .nav-link.active,
.navbar-dark.navbar-sticky-on .navbar-nav .nav-link.current-menu-item {
    color: #2c2e30;
}

[data-theme=dark] .navbar-dark.navbar-sticky-on .navbar-nav .nav-link:hover,
[data-theme=dark] .navbar-dark.navbar-sticky-on .navbar-nav .nav-link:focus,
[data-theme=dark] .navbar-dark.navbar-sticky-on .navbar-nav .nav-link.active,
[data-theme=dark] .navbar-dark.navbar-sticky-on .navbar-nav .nav-link.current-menu-item {
    color: #D2D5DA;
}

.navbar,
.navbar-brand{
    padding-top: 15px;
}

.navbar-brand{
    padding-top: 0;
}

.header-btn{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.header-btn button{
    background: #282728;
    color: #fff;
    padding: 20px 50px;
    font-size: 18px;
    letter-spacing: 2px;
    border: none;
    border-radius: 10px;
    transition: all .3s ease;
}

.header-btn button:hover{
    background-color: #fff;
    color: #282728;
}

.navbar-inner .top-btn{
    margin-right: 40px;
}

.navbar-inner .top-btn a{
    color: #fff;
    padding: 8px 30px;
    font-size: 19px;
    font-weight: 600;
    /* border: 1px solid #05395B; */
    letter-spacing: 1px;
    border-radius: 36px;
    background: #FFFCFC29;
    text-transform: uppercase;
}

.navbar-inner .top-btn a:hover{
    background: #fff;
    color: #05395B;
}

.navbar-inner .top-call span{
    color: #e40000;
    font-weight: 500;
    font-size: 16px;
    line-height: 15px;
}

.navbar-inner .top-call a{
    color: #242424;
    font-weight: 600;
    font-size: 20px;
}

.navbar-inner .top-call a:hover{
    color: #e40000;
}

/* ******************************
:: 8.0 WELCOME AREA CSS
****************************** */

.text-banner h1{    
    font-size: 75px;
    color: #fff;
    font-weight: 600;
}

.text-banner h3{
    color: #FFFFFFCC;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 50px;
    max-width: 500px;
}

.welcome-area{
    height: 1059px;
    background: linear-gradient(69.33deg, #5540BF 47.43%, rgba(85, 64, 191, 0) 150.75%, #826DF0 150.75%);
    /* background-image: url(../img/banner/banner.jpg); */
    background-position: center;
    background-size: cover;
    width: 100%;
    background-repeat: no-repeat;
}

.welcome-form{
    position: relative;
    z-index: 20;
    max-width: 420px;
    padding: 40px 30px;
    /* margin-top: 355px; */
    margin-left: 0;
    background: #05395B;
    background: #fff;
    border-radius: 10px;
}

.welcome-form form .form-group{
    margin-bottom: 20px;
}

.welcome-form form .form-group-btn{
    margin: 0;
}

.form-group input,
.form-group select{
    font-weight: 500;
    font-size: 18px;
    padding: 0 8px;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 0;
    height: 71px;
    margin-bottom: 5px;
    -webkit-transition: all 0.5s ease-out 0s;
    transition: all 0.5s ease-out 0s;
    font-size: 16px;
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    background: #EDF0F9;
    border-radius: 5px;
    color: #000000AB;
}

.form-group select option{
    color: #000;
}

.form-group.flex-48{
    flex: 0 0 48%;
}

.welcome-form .form-group input::-webkit-input-placeholder,
.welcome-form .form-group textarea::-webkit-input-placeholder {
    color: #000000AB;
}

.welcome-form .form-group input:-ms-input-placeholder,
.welcome-form .form-group textarea:-ms-input-placeholder {
    color: #000000AB;
}

.welcome-form .form-group input::placeholder,
.welcome-form .form-group textarea::placeholder {
    color: #000000AB;
}

.welcome-form input:focus,
.welcome-form textarea:focus,
.welcome-form select:focus {
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #5641C0;
    color: #000000AB;
    background: transparent;
}

.form-group input[type="submit"]{
    height: 58px;
    padding: 12px 15px;
    background: #FFA652;
    border: 1px solid #FFA652;
    color: #e40000;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 2px;
    font-family: 'Poppins', sans-serif;
    border-radius: 8px;
}

.form-group input[type="submit"]:hover,
.form-group input[type="submit"]:focus{
    background: #fff;
    color: #ed1c24;
    border: 1px solid #ed1c24 !important; 
}

.welcome-form .form-group input[type="submit"]{
    border: 1px solid #5641C0;
    background: #5641C0;
    color: #fff;
    height: 71px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
}

.welcome-form .form-group input[type="submit"]:hover,
.welcome-form .form-group input[type="submit"]:focus{
    border: 1px solid #5641C0 !important;
    background-color: #fff !important;
    color: #5641C0 !important;
}


.welcome-form .form-title h2{
    margin-bottom: 35px;
    color: #000000;
    font-size: 35px;
    text-align: center;
}

.img-baner{
    position: relative;
}

.image-two{
    position: absolute;
    top: 180px;
    right: 30px;
}

.image-one{
    position: relative;
}

.banner-row{
    margin-top: 5rem;
}

.lines-bg-1{
    position: absolute;
    top: -35px;
    left: -22px;
    -webkit-animation: hero-thumb-sm-2-animation 4s linear infinite alternate;
    animation: hero-thumb-sm-2-animation 4s linear infinite alternate;
}

.lines-bg-2{
    position: absolute;
    left: 165px;
    top: 210px;
    -webkit-animation: hero-thumb-sm-2-animation 4s linear infinite alternate;
    animation: hero-thumb-sm-2-animation 4s linear infinite alternate;
}

@-webkit-keyframes hero-thumb-sm-2-animation {
    0% {
        transform: translateY(-50px)
    }

    to {
        transform: translateY(0)
    }
}

@keyframes hero-thumb-sm-2-animation {
    0% {
        transform: translateY(-50px)
    }

    to {
        transform: translateY(0)
    }
}

/* Course areas */
.course-area{
    padding: 70px 0;
}

.head h1{
    color: #333333;
    font-size: 42px;
    font-weight: 600;
    margin-bottom: 20px;
}

.head p{
    color: #333333B2;
    font-size: 18px;
    font-weight: 400;
    max-width: 575px;
    margin: 0 auto;
}

.head{
    margin-bottom: 50px;
}

.cr-img,.cr-text{
    margin-bottom: 90px;
}

.cr-img img{
    border-radius: 10px;
}

.cr-text span{
    color: #5641C0;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 600;
    display: block;
    margin-bottom: 15px;
}

.cr-text h2{
    color: #333333;
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 25px;
    line-height: 48px;
}

.cr-text p{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 48px;
    line-height: 35px;
    color: #333333B2;
}

.cr-text .cr-btn a{
    background: #5641BF;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    padding: 22px 85px;
    border-radius: 50px;
    text-align: center;
    transition: all .3s ease;
    border: 1px solid #5641BF;
}

.cr-text .cr-btn a:hover{
    color: #5641BF;
    background-color: #fff;
}

.quote-text{
    background: #5641BF;
    padding: 55px 45px;
    border-radius: 10px;
}

.quote-text p{
    color: #fff;
    font-size: 22px;
    font-weight: 500;
    line-height: 46px;
    text-indent: 50px;
    position: relative;
}

.quote-text svg{
    color: #fff;
    font-size: 25px;
    margin-top: 0;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 15px;
}

/* Why choose area */
.why-area{
    background: url(../img/banner/banner-3.jpg);
    background-position: center;
    background-size: cover;
    height: 830px;
    width: 100%;
    position: relative;
    padding: 70px 0;
}

.why-area .overlay{
    background-color: #5641BF;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: .8;
}

.why-text h1{
    font-size: 42px;
    font-weight: 600;
    line-height: 63px;
    margin-bottom: 30px;
    color: #fff;
}

.why-text p{
    color: #FFFFFFB2;
    font-size: 20px;
    font-weight: 500;
    line-height: 35px;
    margin-bottom: 45px;
}

.why-text ul li{
    margin-bottom: 40px;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    display: flex;
    align-items: center;
}

.why-text ul li svg{
    color: #5641BF;
    background-color: #fff;
    height: 30px;
    width: 30px !important;
    border-radius: 50%;
    display: block;
    margin-right: 20px;
    padding: 5px;
}

.why-btn{
    margin-top: 85px;
}

.why-btn a{
    background-color: #fff;
    color: #5641BF;
    padding: 18px 100px;
    border-radius: 50px;
    font-size: 22px;
    font-weight: 600;
    border: 1px solid #fff;
    transition: all .3s ease;
}

.why-btn a:hover{
    color: #fff;
    background-color: #5641BF;
}

/* About areas */
.about-area{
    padding: 100px 0;
    background-color: #5641BF14; 
}

.about-text h2{
    color: #333333;
    font-size: 42px;
    font-weight: 600;
    margin-bottom: 42px;
    max-width: 300px;
}

.about-text p{
    color: #333333B2;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 70px;
}

.about-btn a{
    transition: all .3s ease;
    color: #fff;
    background: #5641BF;
    padding: 22px 66px;
    font-size: 16px;
    font-weight: 500;
    border: 1px solid #5641BF;
    border-radius: 50px;
}

.about-btn a:hover{
    background-color: #fff;
    color: #5641BF;
}

.about-img{
    position: absolute;
    left: 0;
}

.about-area .shape-1{
    position: absolute;
    top: 50px;
    left: 0;
}

.about-area .shape-2{
    position: absolute;
    left: 30%;
    bottom: 11%;
}

/* testi- areas  */
.testi-area{
    background-color: #fff;
    padding: 100px 0 130px;
}

.testi-area .head h1{
    margin-bottom: 70px;
}

.item-test{
    background-color: #F1F0FA;
    border-radius: 10px;
    padding: 50px 40px;
    position: relative;
}

.item .details{
    margin-bottom: 20px;
}

.details .photo{
    margin-right: 20px;
}

.details .photo img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.details .name h3{
    color: #000;
    font-size: 22px;
    font-weight: 600;
    line-height: 33px;
    margin-bottom: 5px;
}

.details .name span{
    color: #000000;
    font-size: 18px;
    font-weight: 400;
}

.item .text p{
    color: #333333B2;
    font-size: 17px;
    font-weight: 500;
    line-height: 35px;
}

.testi-slider .owl-dots{
    position: relative;
    top: 50px;
    text-align: center;
}

.testi-slider .owl-dots button{
    background: #D9D9D9 !important;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin-right: 10px;
}

.testi-slider .owl-dots button.active{
    background-color: #908585 !important;
}

/* contact box */

.contact-area{
    margin-bottom: -125px;
    z-index: 10;
}

.contact-box{
    background: #F1F0FA;
    box-shadow: 0px 30px 45px 0px #0000001A;
    padding: 60px 66px;
    border-radius: 20px;
}

.contact-head h1{
    font-size: 45px;
    font-weight: 700;
    line-height: 67px;
    letter-spacing: 5px;
    color: #000;
    max-width: 295px;
}

.contact-form .form-group input, 
.contact-form .form-group select{
    height: 67px;
    background: #fff;
    color: #000000AB;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 600;
    padding-left: 20px;
    margin-bottom: 25px;
}

.contact-form .form-group input[type="submit"]{
    background: #5641C0;
    color: #fff;
    border: 1px solid #5641BF;
}

.contact-form .form-group input:focus, 
.contact-form .form-group select:focus,
.contact-form .form-group input[type="submit"]:focus{
    border: 1px solid #5641BF !important;
    box-shadow: none !important;
}

/* footer areas */

.footer-area{
    background-color: #303030;
    padding-top: 250px;
}

.footer-toprow{
    padding-bottom: 45px;
}

.ft-logo .logo{
    margin-bottom: 20px;
}

.ft-logo .text p{
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
}

.ft-address p{
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

.ft-email a{
    color: #fff !important;
    font-size: 16px;
    font-weight: 500;
    transition: all .3s ease;
}

.ft-email a:hover{
    color: #fffc;
}

.ft-email svg{
    color: #fff;
    margin-right: 8px;
}

.copy-right{
    padding: 25px 0;
    border-top: 1px solid #DDDDDD54;
}


.copy-right p,
.copy-right a{
    color: #DDDDDD54;
    font-size: 15px;
    font-weight: 400;
}

/* Side Buttons */


.whatsapp_inte {
    z-index: 100;
    position: relative;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background: #2ab03f;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    font-size: 24px;
    color: #fff;
    right: 0;
    bottom: 0;
    float: right;
    -webkit-box-shadow: 0 5px 12px 0 rgba(218, 88, 0, 0.1);
    box-shadow: 0 5px 12px 0 rgba(218, 88, 0, 0.1);
}
.whatsapp_inte:hover {
    background: #00df23;
    color: #fff;
}
.whatsapp_inte i {
    position: relative;
    top: -1px;
    left: 1px;
}



.callnow_inte {
    margin-bottom: 10px;
    z-index: 100;
    position: relative;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background: #0057d9;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    font-size: 24px;
    color: #fff;
    right: 0;
    bottom: 0;
    float: right;
    -webkit-box-shadow: 0 5px 12px 0 rgba(218, 88, 0, 0.1);
    box-shadow: 0 5px 12px 0 rgba(218, 88, 0, 0.1);
}

.callnow_inte:hover {
    background: #0448af;
    color: #fff;
}


.cont_link_box {
    z-index: 100; 
    position: fixed;
    right: 15px;
    top: 80%;
    transform: translateY(-50%);
    width: 50px; display: inline-block;
   
}

.vertical_btn {
    position: fixed;
    bottom: 50%;
    right: -40px;
    padding: 10px 25px 10px;
    border-radius: 4px;
    background: #5641BF;
    font-size: 20px;
    color: #fff;
    z-index: 99;
    text-transform: uppercase;
    transform: rotate(-90deg);
    letter-spacing: 1px;
    /* font-family: 'Lexend', sans-serif; */
    font-weight: 500;
}

.vertical_btn:hover {
    background: #5641BF; color:#fff
}

/* ******************************
:: 16.0  POPUP AREA 
****************************** */
.modal-dialog{
    margin-top: 100px;
    max-width: 694px !important;
    z-index: 99999;
}

.order-model .modal-dialog{
    max-width: 894px !important;
}

.modal.fade .modal-dialog{
    top: 48%;
    transition: -webkit-transform 0.4s ease;
    transition: transform 0.4s ease;
    transition: transform 0.4s ease, -webkit-transform 0.4s ease;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
}

.modal-content {
    border-radius: 0px;
    overflow: hidden;
    padding-bottom: 50px;
}

.modal-header {
    border-bottom: none;
}

.download-close{
    float: right;
    background: #2e2a29;
    border-radius: 45px;
    border: 1px solid transparent;
    width: 46px;
    height: 46px;
    z-index: 99999;
    position: absolute;
    right: -6px;
    top: -8px;
    padding: 2px 0;
    transition: all .3s ease;
}

.download-close:hover{
    background: #c5a10f;
}

.download-close span {
    font-size: 16px;
    color: #ffffff;
    font-weight: 700;
    line-height: 45px;
    padding: 5px 16px;
}

#letter5{
    text-align: center;
}

.letter_inner .heading {
    margin-bottom: 0px;
}

.heading h2 {
    font-size: 35px;
    line-height: 24px;
    color: #193d6f;
    font-family: 'Teko', sans-serif;
    font-weight: 600;
    text-transform: capitalize;
    padding-bottom: 20px;
    margin-bottom: 40px;
    position: relative;
}

.heading h2:after {
    position: absolute;
    content: '';
    height: 2px;
    width: 240px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    background: linear-gradient(to right, #5641BF 0%, transparent 100%);
    z-index: 99;
}

#letter6 .tab-content, #letter5 .tab-content {
    padding: 0 50px;
}

.order-model form{
    display: block;
}

.order-model label {
    font-size: 14px;
    font-family: 'Lexend Deca', sans-serif;
    color: #999;
    line-height: 24px;
    position: absolute;
    left: 34px;
    top: -12px;
    background: #fff;
    padding: 0 8px;
    z-index: 99;
}

#letter5 select, #letter5 input {
    margin-bottom: 15px;
    position: relative;
    color: #000;
    resize: none;
    font-weight: 300;
    border: 0.5px solid #ccc;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;    
    height: 55px;
    width: 100%;
    font-size: 18px;
    padding: 0 20px;
    border-radius: 3px;
    z-index: 9;
    box-shadow: none;
    cursor: pointer;
}

#letter5 input[type="submit"]{
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    background-color: #5641BF;
}

#letter5 input:focus {
    outline: none !important;
    border: 0.5px solid #5641BF;
    color: #000;
}

.wrap {
    overflow: hidden;
    position: relative;
}

.order-model .datepicker {
    position: relative;
}

.popup-btn a{
    background: #185cc9;
    color: #fff;
    padding: 18px 72px;
    border-radius: 100px;
    transition: all .3s;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.popup-btn a:hover{
    background-color: #e86351;
    color: #fff;
}

.popup-btn{
    margin-top: 40px;
}

.modal.fade .modal-dialog{
    display: flex;
}

.popup-img-main{
    background-color: #2f9331;
}

.popup-img img{
    width: 280px;
}

.model-project-details .form-group input::-webkit-input-placeholder,
.model-project-details .form-group textarea::-webkit-input-placeholder {
    color: #000;
}

.model-project-details .form-group input:-ms-input-placeholder,
.model-project-details .form-group textarea:-ms-input-placeholder {
    color: #000;
}

.model-project-details .form-group input::placeholder,
.model-project-details .form-group textarea::placeholder {
    color: #000;
}

.model-project-details input:focus,
.model-project-details textarea:focus,
.model-project-details select:focus {
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #e86351;
    color: #fff;
    background: transparent;
}

.popupleft-content,
.modal-mookambika{
    background-color: #5641BF;
}

.popupleft-content{
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 50px;
    background-image: url(../img/banner-lady.jpg);
    background-size: cover;
}

.popupleft-content p{
    font-size: 40px;
    color: #fff;
    font-weight: 800;
    line-height: 60px;
}

.popupleft-content h4{
    color: #fff;
    font-weight: 400;
    font-size: 23px;
    text-transform: uppercase;
}

.popupleft-content h3 {
    font-weight: 500;
    color: #fff;
    font-size: 32px;
    margin: 25px 0;
    /* text-transform: uppercase; */
    line-height: 40px;
}

.popupleft-content h3 span{
    font-weight: 800;
    font-size: 30px;
}

/* #letter5 select, #letter5 input{
    color: #fff;
} */

.popupleft-content{
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 50px;
    /* background-image: url(../img/popup-img.png); */
    background-size: cover;
}